#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 8px;
  margin-left: 12px;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#login_but {
  margin: 10px 10px 10px 10px;
}

#show_but {
  margin: 10px 10px 10px 10px;
}

#but_tracker {
  margin: 10px 10px 10px 10px;
}

#select_year {
  background-color: #fff;
  border-radius: 40px;
  margin: 10px 10px 10px 10px;
  width: 175px;
  height: 55px;
}

#year_box{
 width: 75px;
 padding: 5px;
  border-radius: 15px;
  border-color: #fff;
 background: #fff;
 color: #4d90fe;
 font:bold;
 cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  font-family: Roboto;
  margin-top: 11px;
  margin-left: 0px;
}

#title_year{
  margin-top: 11px;
  margin-left: 15px;
  color: #4d90fe;
  font-size: 24px;
  font-weight: 500;
}

#Loadint_text {
  color: #4d90fe;
  background: #fff;
  font-size: 24px;
  font-weight: 500;
}

#loading_f {
  margin-top: 18px;
  margin-left: 0px;
  width: 175px;
  height: 55px;
  display: inline-block;
  padding: 5px 11px;
}

#button_admin {
  cursor: pointer; 
	background-color: #4d90fe;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  border-color: #fff;
  margin-top: 18px;
    padding: 5px 5px;
  padding: 5px 11px 5px 11px;
  border-radius: 10px;
}

#button_admin_anlaysis {
  cursor: pointer; 
	background-color: #32CD32;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  border-color: #fff;
  margin-top: 18px;
    padding: 5px 5px;
  padding: 5px 11px 5px 11px;
  border-radius: 10px;
}

#image_container {
	visibility: hidden;
	padding: 15 px;
	background-color:#fff;
	border-radius: 10px;
}

#toolbar{
  margin-top: 0px;
  margin-left: 10px;
  width: 55px;
  height: 200px;
  display: inline-block;
  padding: 5px 5px;
}

[draggable=true] {
  cursor: move;
}