#login {
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#password {
  background-color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  margin-top: 7px;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#login_form {
	visibility: hidden;
    width: 300px;
    height: 270px;
	padding: 15 px;
	background-color:#fff;
	border-radius: 10px;
}

#header{
  font-family: Roboto; 
  color: #4d90fe;
  font-size: 40px;
}

#button {
  cursor: pointer; 
	background-color: #4d90fe;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  border-color: #fff;
  margin-top: 18px;
    padding: 5px 5px;
  padding: 5px 11px 5px 11px;
  border-radius: 10px;
}

